@font-face {
    font-family: 'MontSerrat';
    src: url('assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 300; /* Poids de la police (par exemple, normal, bold, etc.) */
    font-style: light; /* Style de la police (par exemple, normal, italic, oblique) */
        
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('assets/images/bg_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
body {
    margin-top: 2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    background-color: #f2f2f2;

    font-family: 'MontSerrat', sans-serif !important;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 80%;
    width: 100%;

}
header > h1 {
    font-size: 3rem;
    color: white;
}
.input-group {
    width: 100%;
    max-width: 80%;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.square {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgba(128, 0, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ville, .temp, .humidity, .wind{
    font-size: 25px;
    color: white;
}


@media screen and (max-width: 768px) {
    main {
        max-width: 100%;
    }

    .square {
        width: calc(50% - 20px);
    }

    .input-group {
        max-width: 100%;
    }
}
